@import "../../variables.scss";
@import "../../grid.scss";

#container {
    // display: flex;
    // justify-content: center;
    // flex-wrap: wrap;
    padding: 0 10%;
    #no-pro {
        margin: 0 auto;
        font-size: 32px;
        font-family: "NoyhR-Regular", sans-serif;
    }
    .container-product {
        // height: auto;
        // width: 24%;
        padding: 24px;
        // margin: 0 40px;
        // margin-bottom: 40px;
        border: $primary-color1 1px solid;
        position: relative;
        transition: linear 0.2s;
        cursor: pointer;
        &:hover {
            border-radius: 12px;
            scale: 1.01;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        }
        .btn-remove {
            position: absolute;
            top: 5%;
            right: 5%;
            fill: $primary-color3;
            transition: linear 0.2s;
            &:hover {
                fill: $primary-color1;
            }
        }
        .wrap-img {
            height: 200px;
            border-bottom: $primary-color1 1px solid;
            margin-bottom: 12px;
            .img {
                height: 100%;
                width: 100%;
                object-fit: contain;
            }
        }
        .wrap-info {
            padding: 0 8px;
            font-family: "NoyhR-Medium", sans-serif;
            .info-name {
                font-size: 24px;
            }
            .info-mat {
                font-size: 16px;

                font-family: "NoyhR-SemiLight", sans-serif;
                color: $primary-color3;
            }
            .info-price {
                font-size: 20px;
                font-family: "NoyhR-SemiLight", sans-serif;
            }
        }
    }
}
